// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
	color: #C7A6CF;
	font-family: Georgia;
	font-size: 12px;
	text-align: right;
}
.hero-unit {
	background-color: #E0E4B6;
	color: #5D2D69;
}
.hero-unit a {
	color: #5D2D69;
	text-decoration: underline;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #E0E4B6;
}
table tr a {
	color: #653f6e;
}
.footer a {
	color: #6e407a;
}